<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/home.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Abel&family=Anybody:wght@100&family=Imperial+Script&family=Inconsolata:wght@200&family=Inter:wght@300&family=Lato&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Raleway:wght@100&family=Roboto+Condensed:wght@300&family=Roboto+Mono:wght@200&family=Roboto:wght@100&family=Smooch+Sans:wght@700&family=Sofia+Sans:wght@200&family=Source+Code+Pro:wght@200&family=Source+Sans+Pro:wght@300&family=Teko:wght@300&display=swap"
        rel="stylesheet">

    <!-- title -->
    <title>THE ISSUE TRACKER</title>

</head>

<body>

    <!-- Header Container -->
    <header>

        <div id="head-container">
            <div class="container1">
                <a href="/" class="navbar-brand">
                    <h1>ISSUE TRACKER</h1>
                </a>
            </div>

            <!-- Project form container -->
            <div id="project_form_container">
                <form action="/createProject" id="project_form" method="post">
                    <div class="row">
                        <div class="form-group">
                            <input id="inputProject" type="text" name="name" class="form-control"
                                placeholder="Enter Project Name  ... ">
                        </div>
                        <div class="form-group">
                            <input id="inputAuthor" type="text" name="author" class="form-control"
                                placeholder="Enter Project Author  ... ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <textarea name="description" class="form-control"
                                placeholder="Enter Project Description  ... " id="inputDescription" rows="2"></textarea>
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </header>



    <!-- Project Container -->
    <div id="project_container" class="container mt-3">
        <h2 class="text-center">Project List</h2>
        <ul style="list-style:none;" id="poject_list">
            <% if(projectList) { %>
                <% for (i of projectList ){ %>
                    <li class="py-1 offset-sm-1">
                        <div class="row">
                            <div class="col-sm-11">
                                <div class="card1">
                                    <h5 class="card-header">
                                       Project: <%= i.name %>
                                    </h5>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                           Author: <%= i.author %>
                                        </h5>
                                        <p class="card-text">
                                            Description: <%= i.description %>
                                        </p>
                                        <a href="/viewProject/?project=<%= i._id %>" class="btn btn-primary">View</a>
                                    </div>
                                </div>
                                <div class="card2">
                                    <a href="/delete-project/?id=<%= i._id %>">
                                        <button>Delete</button>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </li>
                    <% } %>
                        <% } else { %>
                            <!-- If there is no projects -->
                            <section class="text-center container">
                                <div class="row">
                                    <div class="col-lg-12 col-md-8 mx-auto">
                                        <h1 class="fw-light">!!Oops, your project list is empty</h1>
                                        <p class="lead my-2">Don't panic :) :) just go and add something to your list
                                        </p>
                                    </div>
                                </div>
                            </section>
                            <% } %>

        </ul>
    </div>

    
    <!-- Custom Javascript -->
    <script src="../javascript/viewProjectScript.js">
    </script>
</body>